# NeuroPy: Coding Introduction

## Short introduction to Google Colab:

Google Colab lets users write and execute code in python using cells. To run a cell, you can either press the *run* button or press the *ctrl* and *return* keys on your keyboard.

In [ ]:
print("Bienvenue dans Colab")

Bienvenue dans Colab

It is also possible to have markdown cells (like this one), where the user can write text. This can be used to document your code. The cell format let's you execute on parts of your code at a time and can be useful in certain situations.

To edit a markdown cell, simply double-tap on the cell. In a code cell, simply click on the cell.

Use Hashtags (\#) to write titles. The more hashtags you use (between 1 and 6), the smaller your section title will be.

## Today's plan:

1. Overview of Python environments
2. Syntax structures
3. Control structures
4. Functions

This notebook contains the examples shown during the workshop and the exercices for the training part. Feel free to copy this notebook and modify it as you wish!

## Syntax structures
### Variables

In this examples, *pi* and *perimeter* are both variables.

In [ ]:
pi = 3.1416
perimeter = 2 * pi * 5
print(perimeter)

31.416

### Numbers
In this example, both *a* and *b* are variables assigned to numbers of different types.

In [ ]:
a = 3.86
print(a, type(a))
b = int(a)
print(b, type(b))

3.86 <class 'float'>
3 <class 'int'>

### Arithmetic operations

In [ ]:
print("7/4 =", 7/4)
print("7//4 = ", 7//4)
print("7%4 =", 7%4)

7/4 = 1.75
7//4 =  1
7%4 = 3

### Strings

In [ ]:
print(10 * "-")
print("-" * 3 + " Mouse ", "-" * 3)
print(len("Mouse"))

----------
--- Mouse  ---
5

### Index and slicing

It is possible to index and slice both strings, lists, arrays and other types of structures.

In [ ]:
a = "LocusCoeruleus"
print(a[1])
print(a[3:8])
print(a[-2:])

o
usCoe
us

### Lists
Lists are very powerful to store data.

In [ ]:
a = [] # This is an empty list
b = [2, 3, "cervo", 5] # This is another list
print(a, b)
print(b[2])

[] [2, 3, 'cervo', 5]
cervo

In [ ]:
a.append("Mouse")
print(a)
print(b)
print(len(b))

['Mouse', 'Mouse']
[2, 3, 'cervo', 5]
4

### Dictionary

In [ ]:
my_dict = {"KEY": "value"}
print(my_dict)

my_dict["neuron_types"] = ["VIP", "NDNF"]
print(my_dict)
print(my_dict.values())
print(my_dict.keys())

{'KEY': 'value'}
{'KEY': 'value', 'neuron_types': ['VIP', 'NDNF']}
dict_values(['value', ['VIP', 'NDNF']])
dict_keys(['KEY', 'neuron_types'])

## Control structures
### for loops

In [ ]:
names = ["Antoine", "Sandrine"]

for name in names:
   print(f"I appreciate {name}’s efforts to teach me Python.")

I appreciate Antoine’s efforts to teach me Python.
I appreciate Sandrine’s efforts to teach me Python.

### break, pass and continue statements

In [ ]:
for num in range(2, 5):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4

In [ ]:
for num in range(10):
    print(num)
    if num == 2:
        break

0
1
2

## Functions

In [ ]:
def addition(a, b):
    return a + b

print(addition(3, 5))
print(addition(35.84, 679.73))

8
715.57

In [ ]:
def find_maximum(list):
  maximum = list[0] # Assigning the maximum value to the first element of the list
  for element in list:
    if element > maximum:
      maximum = element # Replacing the value of maximum if element is bigger than the actual value
  return maximum

test_list = [9,13,56,73,24,5,3,-91,53,0]
print(find_maximum(test_list))

73

# Exercices
## 1. String, index
Using the phrase: `"The;zebrafish;model;is;valid;and;great"`
- Replace the ; with spaces
- Isolate the word zebrafish

In [ ]:
original_phrase = "The;zebrafish;model;is;valid;and;great"

In [ ]:
# TO DO

## 2. Country capitals

  - Create an empty dictionary named “country_capital”.
  - Add 4 countries and their capitals as key-value pairs.
  - Check if the country “France” is in the dictionary.
  - Print all the keys of the dictionary.
  - Print all the values of the dictionary.

In [ ]:
# TO DO

## 3. Conditionnal statement
Given a number (x):
- if x is between 1 and 50, we want to print:
  - “The number is between 1 and 50”
- if x is between 51 and 100, we want to print:
  - “The number is between 51 and 100”
- in other cases (x is not between 1 and 100), we want to print:
	- “The number is not between 1 and 100”

In [ ]:
# TO DO

The number is between 1 and 50

## 4. Recap exercise
You have this list of dna sequences:
```
dna_sequences = ["ATCGA", "TTAAGC", "CGATG"]
```
Create a function that calculates the ratio of guanine and cytosine in the DNA. The function must take a string as argument and return a float. You should get:
- "ATCGA" = 0.4
- "TTAAGC" = 0.333
- "CGATG" = 0.6

In [ ]:
dna_sequences = ["ATCGA", "TTAAGC", "CGATG"]

In [ ]:
# TO DO

# Answers

## 1. String, index
Using the phrase: `"The;zebrafish;model;is;valid;and;great"`
- Replace the ; with spaces
- Isolate the word zebrafish

In [ ]:
original_phrase = "The;zebrafish;model;is;valid;and;great"
replaced_str = original_phrase.replace(";", " ")
zebrafish_word = replaced_str[4:13]

print(replaced_str)
print(zebrafish_word)

## 2. Country capitals

  - Create an empty dictionary named “country_capital”.
  - Add 4 countries and their capitals as key-value pairs.
  - Check if the country “France” is in the dictionary.
  - Print all the keys of the dictionary.
  - Print all the values of the dictionary.

In [ ]:
country_capitals = {}

country_capitals['Canada'] = 'Ottawa'
country_capitals['United Kingdom'] = 'London'
country_capitals['Australia'] = 'Canberra'
country_capitals['India'] = 'New Delhi'

print(country_capitals)
print('France' in country_capitals.keys())
print(country_capitals.keys())
print(country_capitals.values())

{'Canada': 'Ottawa', 'United Kingdom': 'London', 'Australia': 'Canberra', 'India': 'New Delhi'}
False
dict_keys(['Canada', 'United Kingdom', 'Australia', 'India'])
dict_values(['Ottawa', 'London', 'Canberra', 'New Delhi'])

## 3. Conditionnal statement
Given a number (x):
- if x is between 1 and 50, we want to print:
  - “The number is between 1 and 50”
- if x is between 51 and 100, we want to print:
  - “The number is between 51 and 100”
- in other cases (x is not between 1 and 100), we want to print:
	- “The number is not between 1 and 100”

In [ ]:
number_to_try = 3

if number_to_try >=1 and number_to_try <= 50:
  print("The number is between 1 and 50")

elif number_to_try >= 51 and number_to_try <= 100:
  print("The number is between 51 and 100")

else:
  print("The number is not between 1 and 100")

## 4. Recap exercise
You have this list of dna sequences:
```
dna_sequences = ["ATCGA", "TTAAGC", "CGATG"]
```
Create a function that calculates the ratio of guanine and cytosine in the DNA. The function must take a string as argument and return a float. You should get:
- "ATCGA" = 0.4
- "TTAAGC" = 0.333
- "CGATG" = 0.6

In [ ]:
def ratio_dna(sequence):
  """ Function that calculate the ratio of G and C in an DNA sequence.

  Argument:
    sequence (str): Sequence to analyse.

  Return:
    float: Ratio of G and C in the DNA sequence. Between 0 and 1. """

  counter = 0

  for i in sequence:
    if i == "G" or i == "C":
      counter += 1

  return counter / len(sequence)

for i in dna_sequences:
  print(f"The ratio of guanine and cytosine in the {i} sequence is {ratio_dna(i)}.")